* .about__content {
  padding: 14px 21px;
  width: 214px;
  height: 289px; }

* .aboutItem__title {
  font-size: 13px; }

* .content__close {
  right: -66px;
  top: -17px;
  font-size: 25px; }

* .aboutItem img {
  padding: 11px 40px 15px;
  width: 60%; }

* .aboutItem__text span {
  font-size: 10px; }

* .aboutItem__text a {
  font-size: 12px; }

* .abouButtonWrap {
  padding-top: 18px; }

* .aboutItem__button {
  padding: 7px 5px;
  font-size: 12px; }

/*--------------------------Laptop----------------------------------*/
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .inner {
    padding: 50px 0px 80px; }
  .bunner, .bunner2 {
    margin: 0 20px 0 15px; }
  .bunner__title {
    font-size: 30px; }
  .bunner__subTitle {
    font-size: 70px; }
  .bunner__button {
    padding: 15px 33px 16px 33px; }
  .wrapper {
    padding-top: 70px; }
  .suzuki {
    padding: 60px 80px 65px; }
  .suzukiItem {
    width: 24%; } }

/*--------------------Desktop--------------------------*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  header, footer {
    padding: 0 20px; }
  .bunner, .bunner2 {
    margin: 0 20px 0 15px; }
  .inner {
    padding: 30px 0px 50px; }
  .vitara, .sx4, .service {
    padding: 0 10px; }
  .wrapper {
    padding-top: 70px; }
  .suzuki {
    padding: 40px 60px 40px;
    width: 30%; }
  .suzukiItem {
    width: 24%; }
  .serviceInner {
    padding: 9px 9px 20px;
    width: 30%; }
  .map {
    padding-top: 57px;
    padding-bottom: 80px; }
  .adress {
    width: 400px; }
  .adressWrap {
    padding: 23px 56px 40px 30px; } }

/*-------------------Mobile Large------------------------------*/
@media only screen and (min-width: 763px) and (max-width: 1024px) {
  header {
    padding: 0 10px; }
  .logotype .logotype__img:nth-child(2n) {
    padding: 0 25px 0 15px; }
  .telephone__number {
    font-size: 20px; }
  .inner {
    padding: 20px 10px 39px; }
  .bunner__subTitle {
    font-size: 60px; }
  .bunner__button {
    padding: 12px 27px 11px 26px; }
  .wrapper {
    padding-top: 57px; }
  .bunner__line {
    width: 50px;
    height: 6px; }
  .bunner, .bunner2 {
    margin: 0; }
  .wrap {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .suzuki {
    padding: 20px 0px 25px;
    width: 50%; }
  .suzukiItem {
    width: 30%; }
  .lableWrap {
    padding: 80px 0px 126px; }
  .lable {
    font-size: 22px; }
  .service {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .service__title {
    font-size: 14px; }
  .serviceInner {
    padding: 9px 5px 22px;
    width: 30%;
    top: -30px; }
  .bankServiceInner {
    width: 33%; }
  .bankServiceInner .bankService__title {
    padding: 14px 0px 9px; }
  .bankService__title {
    font-size: 24px; }
  .bankService__subtitle {
    font-size: 16px; }
  .bankService {
    padding-bottom: 82px; }
  .map {
    padding-top: 57px;
    padding-bottom: 80px; }
  .adress {
    width: 400px; }
  .adressWrap {
    padding: 23px 56px 40px 30px; } }

@media only screen and (min-width: 576px) and (max-width: 762px) {
  header {
    padding: 0 10px; }
  .logotype span {
    display: none; }
  .telephone__number {
    font-size: 20px; }
  .bunner, .bunner2 {
    margin: 0; }
  .inner {
    padding: 10px 10px 20px; }
  .bunner__subTitle {
    font-size: 40px; }
  .bunner__button {
    font-size: 15px;
    padding: 10px 10px 8px; }
  .wrapper {
    padding-top: 40px; }
  .bunner__line {
    width: 15px;
    height: 15px;
    border-radius: 50%; }
  .suzuki__img {
    width: 100%; }
  .suzuki {
    padding: 20px 0px 25px; }
  .vitara, .sx4 {
    padding: 0 10px; }
  .wrap__suzukiItem {
    padding-top: 20px;
    width: 45%; }
  .buttonWrap {
    margin-top: 10px; }
  .suzukiItem__button1 {
    line-height: normal; }
  .lable {
    font-size: 25px; }
  .lableWrap {
    padding: 43px 0px 83px; }
  .service {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .service__title {
    font-size: 16px; }
  .serviceInner {
    top: -30px; }
    .serviceInner:nth-child(2n) {
      margin: 20px 0; }
  .bankServiceInner {
    width: 100%; }
    .bankServiceInner:nth-child(2n) {
      margin: 40px 0; }
  .bankService {
    padding-bottom: 82px; }
  .adress {
    width: 256px; }
  .adressWrap {
    padding: 26px 33px 29px 17px; }
  .adressWrap .adress__title {
    padding-bottom: 0px; }
  .adress__title {
    font-size: 20px; }
  .adressWrap .adress__subtitle {
    padding-top: 10px; }
  .adress__subtitle {
    font-size: 12px; }
  a .logotype__img {
    width: 100%; } }

/*---------------Mobile------------------------------*/
@media only screen and (max-width: 575px) {
  header {
    padding: 0 10px; }
  .logotype__img {
    width: 35%; }
  .logotype span {
    display: none; }
  .telephone__number {
    font-size: 15px; }
  .navigation__logotype {
    width: 60%; }
  .bunner, .bunner2 {
    margin: 0; }
  .inner {
    padding: 10px 10px 20px; }
  .bunner__subTitle {
    font-size: 30px; }
  .bunner__button {
    font-size: 14px;
    padding: 10px 7px 10px 8px; }
  .wrapper {
    padding-top: 20px; }
  .bunner__line {
    width: 15px;
    height: 15px;
    border-radius: 50%; }
  .suzuki__img {
    max-width: 100%; }
  .suzuki__text {
    font-size: 20px; }
  .suzuki {
    padding: 20px 0px 25px;
    height: 100%; }
  .suzuki_active {
    width: 100%; }
  .vitara, .sx4 {
    padding: 0 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .wrap__suzukiItem {
    padding-top: 20px;
    width: 100%; }
  .suzukiItem img {
    width: 100%; }
  .suzukiItem__text span {
    line-height: 20px; }
  .buttonWrap {
    margin-top: 10px; }
  .suzukiItem__button1 {
    font-size: 13px;
    line-height: normal; }
  .suzukiItem__button2 {
    font-size: 14px;
    line-height: normal; }
  .lable {
    font-size: 17px; }
  .lableWrap {
    padding: 43px 0px 83px; }
  .service {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .service__title {
    font-size: 15px; }
  .serviceInner {
    padding: 9px 5px 22px;
    top: -30px; }
    .serviceInner:nth-child(2n) {
      margin: 20px 0; }
  .serviceInner div {
    padding-top: 10px; }
  .bankServiceInner {
    width: 100%; }
    .bankServiceInner:nth-child(2n) {
      margin: 40px 0; }
  .bankServiceInner .bankService__title {
    padding: 14px 0px 9px; }
  .bankService {
    padding-bottom: 50px; }
  .adress {
    width: 256px; }
  .adressWrap {
    padding: 26px 33px 29px 17px; }
  .adressWrap .adress__title {
    padding-bottom: 0px; }
  .adress__title {
    font-size: 20px; }
  .adressWrap .adress__subtitle {
    padding-top: 10px; }
  .adress__subtitle {
    font-size: 12px; }
  a .logotype__img {
    width: 100%; } }
