* {
	.about__content {
	    padding: 14px 21px;
	    width: 214px;
	    height: 289px;
	}

	.aboutItem__title {
	    font-size: 13px;
	}

	.content__close {
	    right: -66px;
	    top: -17px;
	    font-size: 25px;
	}

	.aboutItem img {
	    padding: 11px 40px 15px;
	    width: 60%;
	}

	.aboutItem__text span {
	    font-size: 10px;
	}

	.aboutItem__text a {
	    font-size: 12px;
	}

	.abouButtonWrap {
	    padding-top: 18px;
	}

	.aboutItem__button {
	    padding: 7px 5px;
	    font-size: 12px;
	}
}
/*--------------------------Laptop----------------------------------*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.inner {
	    padding: 50px 0px 80px;
	}

	.bunner, .bunner2 {
   		 margin: 0 20px 0 15px;
	}

	.bunner__title {
	    font-size: 30px;
	}

	.bunner__subTitle {
	    font-size: 70px;
	}

	.bunner__button {
	    padding: 15px 33px 16px 33px;
	}

	.wrapper {
	    padding-top: 70px;
	}

	.suzuki {
	    padding: 60px 80px 65px;
	}

	.suzukiItem {
	    width: 24%;
	}

	.serviceInner {
	    width: 29%;
	}
}
/*--------------------Desktop--------------------------*/
@media only screen  and (min-width: 768px) and (max-width : 1024px){
	header, footer{
		padding: 0 20px;
	}

	.telephone__number {
	    font-size: 17px;
	}

	.bunner, .bunner2 {
   		 margin: 0 20px 0 15px;
	}

	.bunner__title {
    	font-size: 20px;
	}

	.bunner__subTitle {
	    font-size: 35px;
	}

	.bunner__button {
	    font-size: 10px;
	    padding: 10px 20px 10px 20px;
	}

	.inner {
	    padding: 30px 0px 50px;
	}

	.vitara, .sx4, .service {
		padding: 0 10px;
	}

	.wrapper {
	    padding-top: 70px;
	}

	.suzuki {
	    padding: 40px 60px 0px;
	    width: 30%;
	}
	.suzuki img {
		width: 100%;
	}

	.suzukiItem {
	    width: 24%;
	}

	.suzukiItem img {
		width: 100%;
	}

	.suzukiItem__button1 {
	    font-size: 13px;
	    line-height: normal;
	}

	.suzukiItem__button2 {
	    font-size: 16px;
	    line-height: normal;
	}

	.lable {
	    font-size: 35px;
	}

		.bankService {
	    padding-bottom: 90px;
	}

	.serviceInner {
	    padding: 9px 9px 20px;
	    width: 30%;
	}

	.map {
	    padding-top: 57px;
	    padding-bottom: 80px;
	}

	.adress {
	    width: 400px;
	}
	.adressWrap {
	    padding: 23px 56px 40px 30px;
	}
}
/*-------------------Desktop------------------------------*/
@media only screen and (min-width: 576px) and (max-width: 767px){
	.inner {
	    padding: 20px 0px 39px;
	}
	.bunner__subTitle {
	    font-size: 60px;
	}

	.bunner__title {
	    font-size: 30px;
	}

	.bunner__button {
	    padding: 12px 27px 11px 26px;
	}

	.wrapper {
	    padding-top: 57px;
	}

	.bunner__line {
	    width: 50px;
	    height: 6px;
	}

	.bunner, .bunner2 {
	    margin: 0;
	}

	.wrap {
	    justify-content: space-around;
	}

	.suzuki__img {
	    width: 70%;
	}

	.suzuki {
	    padding: 20px 0px 25px;
	    width: 50%;
	    height: 185px;
	}

	.suzukiItem {
	    width: 30%;
	}

	.suzukiItem img {
		width: 100%;
	}

	.suzukiItem__text span {
	    font-size: 12px;
	    line-height: 20px;
	}

	.buttonWrap {
	    margin-top: 10px;
	}

	.suzukiItem__button1 {
	    font-size: 12px;
	    line-height: normal;
	}

	.suzukiItem__button2 {
	    font-size: 15px;
	    line-height: normal;
	    padding: 12px 0 11px;
	}

	.lableWrap {
	    padding: 54px 0px 92px;
	}

	.lable {
	    font-size: 22px;
	}

	.service__title {
	    font-size: 8px;
	}

	.serviceInner {
	    padding: 9px 5px 22px;
	    width: 30%;
	    top: -30px;
	}

	.serviceInner div {
	    padding-top: 10px;
	}

	.bankServiceInner {
	    width: 31%;
	}

	.bankServiceInner img {
		width: 45px;
	}

	.bankServiceInner .bankService__title {
	    padding: 14px 0px 9px;
	}

	.bankService__title {
	    font-size: 18px;
	}

	.bankService__subtitle {
	    font-size: 12px;
	}

	.bankService {
	    padding-bottom: 82px;
	}

	.map {
	    padding-top: 57px;
	    padding-bottom: 80px;
	}

	.adress {
	    width: 400px;
	}

	.adressWrap {
	    padding: 23px 56px 40px 30px;
	}
}
/*---------------Mobile Large------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 575px){
	header {
		padding: 0 10px;
	}

	.logotype__img {
		width: 35%;
	}

	.logotype span {
		display: none;
	}

	.telephone__number {
	    font-size: 15px;
	}

	.navigation__logotype {
	    width: 60%;
	}

	.bunner, .bunner2 {
	    margin: 0;
	}

	.inner {
	    padding: 10px 10px 20px;
	}

	.bunner__title {
	    font-size: 20px;
	}

	.bunner__subTitle {
	    font-size: 30px;
	}

	.bunner__button {
	    font-size: 10px;
	    padding: 5px 7px 6px 6px;
	}

	.wrapper {
	    padding-top: 16px;
	}

	.bunner__line {
	    width: 15px;
	    height: 15px;
	    border-radius: 50%;
	}

	.suzuki__img {
	    width: 90%;
	}

	.suzuki__text {
	    font-size: 15px;
	    padding-bottom: 6px;
	}

	.suzuki {
	    padding: 20px 0px 25px;
	    height: 125px;
	}

	.vitara, .sx4 {
	    padding: 0 10px;
	}

	.wrap__suzukiItem {
	    padding-top: 20px;
	    width: 49%;
	}

	.suzukiItem img {
		width: 100%;
	}

	.suzukiItem__title {
	    font-size: 16px;
	}

	.suzukiItem__text span {
	    font-size: 12px;
	    line-height: 20px;
	}

	.buttonWrap {
	    margin-top: 10px;
	}

	.suzukiItem__button1 {
	    font-size: 11px;
	    padding: 8px 0;
	    line-height: normal;
	}

	.suzukiItem__button2 {
	    font-size: 14px;
	    line-height: normal;
	}

	.lable {
	    font-size: 17px;
	}

	.lableWrap {
	    padding: 43px 0px 83px;
	}

	.service__title {
	    font-size: 8px;
	}

	.serviceInner {
	    padding: 9px 5px 22px;
	    width: 30%;
	    top: -30px;
	}

	.serviceInner div {
	    padding-top: 10px;
	}

	.bankServiceInner {
	    width: 31%;
	}

	.bankServiceInner img {
		width: 45px;
	}

	.bankServiceInner .bankService__title {
	    padding: 14px 0px 9px;
	}

	.bankService__title {
	    font-size: 18px;
	}

	.bankService__subtitle {
	    font-size: 12px;
	}

	.bankService {
	    padding-bottom: 82px;
	}

	.adress {
	    width: 256px;
	}

	.adressWrap {
	    padding: 26px 33px 29px 17px;
	}

	.adressWrap .adress__title {
	    padding-bottom: 0px;
	}

	.adress__title {
	    font-size: 20px;
	}

	.adressWrap .adress__subtitle {
	    padding-top: 10px;
	}

	.adress__subtitle {
	    font-size: 12px;
	}

	a .logotype__img {
		width: 100%;
	}
}