/*-----------FOOTER-----------------*/
footer {
  background-color: #000; }
  footer .navigation__logotype {
    padding: 23px 0px; }

.telephone__text_white {
  color: #fff;
  border-bottom: 1px dashed #fff; }

.telephone__number_white {
  color: #fff; }
