@import "../variables.scss";

/*----------------------------BUNNER-------------------------------*/
.bunner, .bunner2 {
	cursor: pointer;
	background-image: url("../img/image 69.png");
	color: #fff;
	background-size: cover;
	margin: 0 66px 0 41px;
	position: relative;
	z-index: 1;
}

.bunner2 {
	background-image: url("../img/image 70.jpg");
	display: none;
}

.inner {
	padding: 90px 0px 129px;
}

.bunner__title {
	font-size: 38.5174px;
}

.bunner__subTitle {
	font-size: 88.7579px;
}

.padTop16 {
	padding-top: 16px;
}

.bunner__button {
	font-size: 18px;
	border: none;
	padding: 22px 57px 21px 56px;
	text-transform: uppercase;
	color: #fff;
	background-color: $colorBlue;
	cursor: pointer;

	&:hover{
		opacity: 0.7;
	}
}

.wrapper{
	padding-top: 227px;
	display: flex;
}

.bunner__line {
	cursor: pointer;
	width: 70px;
	height: 2px;
	background: #fff;
}
.active {
	background: $colorBlue;
}

.bunner__line:nth-child(2n) {
	margin-left: 16px;
}