/*------------------------MODELS ITEM-------------------------*/
.vitara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sx4 {
  display: none; }

.wrap__suzukiItem {
  padding-top: 49px; }

.suzukiItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer; }
  .suzukiItem:hover .suzukiItem__button2 {
    line-height: 25px;
    font-weight: bold; }

.suzukiItem__title {
  font-size: 20px;
  text-align: center; }

.suzukiItem__text span {
  font-size: 16px;
  line-height: 26px;
  color: #979797; }

.suzukiItem__prop {
  position: relative;
  display: block;
  overflow: hidden; }

.suzukiItem__prop:after {
  content: '';
  position: absolute;
  bottom: .45em;
  margin-left: .2em;
  width: 100%;
  border-bottom: 2px dotted; }

.suzukiItem__value {
  float: right;
  padding-left: .2em; }

.buttonWrap {
  margin-top: 20px;
  margin-bottom: 5px; }

.suzukiItem__button1 {
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  color: #005AAD;
  padding: 11px 0;
  line-height: 27px;
  background-color: #fff;
  border: 1px solid #005AAD; }

.suzukiItem__button2 {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  line-height: 23px;
  padding: 14px 0 11px;
  background-color: #005AAD;
  border: none; }
