/*----------------WINDOW ABOUT MODEL---------------*/
.about {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  font-family: 'HelveticaNeueCyr', sans-serif; }

.about__content {
  margin: 5% auto 15% auto;
  padding: 45px 50px;
  width: 470px;
  height: 560px; }

.aboutItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  cursor: default; }
  .aboutItem img {
    padding: 28px 0 39px; }

.aboutItem__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold; }

.content__close {
  cursor: pointer;
  position: relative;
  right: -160px;
  top: -30px;
  color: #000;
  font-size: 36px;
  font-weight: bold; }

.abouButtonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 26px; }

.aboutItem__text {
  padding-top: 3px; }
  .aboutItem__text span {
    font-size: 16px; }
  .aboutItem__text a {
    text-decoration: none;
    font-size: 14px;
    color: #199C68; }

.aboutItem__button {
  cursor: pointer;
  color: #fff;
  background-color: #199C68;
  padding: 18px 32px;
  border: none; }
  .aboutItem__button:hover {
    opacity: 0.9; }

.aboutItem__prop:after {
  bottom: .3em; }

.aboutItem__value {
  float: right;
  padding-left: .2em; }
